.logo-container {
  display: flex;
  position: relative;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  justify-content: space-between;
}
.logo-logo-center {
  margin-left: 0px;
  margin-right: 0px;
}
.logo-image {
  width: 50px;
  object-fit: cover;
  margin-right: 0px;
}


.logo-root-class-name2 {
  align-self: center;
}

.logo-root-class-name4 {
  align-self: center;
}
.logo-root-class-name5 {
  align-self: center;
}
.logo-root-class-name6 {
  top: 0px;
  left: 5%;
  width: auto;
  bottom: 0px;
  height: var(--dl-size-size-small);
  margin: auto;
  position: absolute;
}
.logo-root-class-name7 {
  top: 29px;
  left: -29px;
  position: absolute;
}

.logo-root-class-name9 {
  top: 29px;
  left: -29px;
  position: absolute;
}
.logo-root-class-name10 {
  align-self: center;
  margin-left: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.logo-root-class-name11 {
  align-self: center;
  margin-left: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.logo-root-class-name12 {
  align-self: center;
  margin-left: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.logo-root-class-name13 {
  top: 0px;
  left: 5%;
  width: auto;
  bottom: 0px;
  height: var(--dl-size-size-small);
  margin: auto;
  position: absolute;
}
.logo-root-class-name14 {
  top: 0px;
  left: 5%;
  width: auto;
  bottom: 0px;
  height: var(--dl-size-size-small);
  margin: auto;
  position: absolute;
}
.logo-root-class-name15 {
  align-self: center;
  margin-left: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.logo-root-class-name16 {
  align-self: center;
  margin-left: 0px;
  margin-right: var(--dl-space-space-twounits);
}
@media(max-width: 1200px) {
  .logo-root-class-name1 {
    top: 0px;
    right: 460px;
    bottom: 5px;
    position: static;
  }
}

.change-address-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.change-address-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  position: relative;
  flex-wrap: wrap;
  min-height: 200vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.change-address-container2 {
  width: 100%;
  height: 115px;
  display: flex;
  position: relative;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: center;
  background-image: linear-gradient(180deg, rgb(195, 197, 200) 6.00%,rgb(255, 255, 255) 100.00%);
}
.change-address-component {
  text-decoration: none;
}
.change-address-container3 {
  top: 115px;
  left: 0px;
  width: 1600px;
  height: 1463px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  justify-content: center;
}
.change-address-text1 {
  top: 41px;
  left: 94px;
  position: absolute;
  font-size: 4em;
}
.change-address-container4 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.change-address-container5 {
  top: 300px;
  left: 0px;
  width: 100%;
  bottom: -428px;
  height: 130px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.change-address-textinput {
  top: 49px;
  left: 200px;
  color: #000000;
  width: 600px;
  height: var(--dl-size-size-small);
  position: absolute;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  background-color: #ffffff;
}
.change-address-text2 {
  top: 4px;
  left: 200px;
  position: absolute;
}
.change-address-ct1 {
  top: 150px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 130px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.change-address-text3 {
  top: 9px;
  left: 200px;
  position: absolute;
}
.change-address-select {
  top: 57px;
  left: 200px;
  width: var(--dl-size-size-xlarge);
  height: var(--dl-size-size-small);
  z-index: 100;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
}
.change-address-container6 {
  top: 450px;
  left: 0px;
  width: 100%;
  height: 136px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.change-address-textinput1 {
  top: 49px;
  left: 200px;
  color: #000000;
  width: 600px;
  height: var(--dl-size-size-small);
  position: absolute;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  background-color: #ffffff;
}
.change-address-text4 {
  top: 4px;
  left: 200px;
  position: absolute;
}
.change-address-container7 {
  top: 765px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 221px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.change-address-textinput2 {
  top: 49px;
  left: 200px;
  color: #000000;
  width: 600px;
  height: var(--dl-size-size-small);
  position: absolute;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  background-color: #ffffff;
}
.change-address-text5 {
  top: 4px;
  left: 200px;
  position: absolute;
}
.change-address-textinput3 {
  top: 124px;
  left: 200px;
  color: #000000;
  width: 600px;
  height: var(--dl-size-size-small);
  position: absolute;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  background-color: #ffffff;
}
.change-address-navlink {
  top: 1084px;
  left: 709px;
  color: rgb(0, 193, 255);
  position: absolute;
  font-size: 30px;
  text-decoration: none;
}
.change-address-container8 {
  top: 616px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 151px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.change-address-text6 {
  top: 4px;
  left: 200px;
  position: absolute;
}
.change-address-textinput4 {
  top: 49px;
  left: 200px;
  color: #000000;
  width: 600px;
  height: var(--dl-size-size-small);
  position: absolute;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  background-color: #ffffff;
}
.change-address-navlink1 {
  left: 214px;
  color: var(--dl-color-gray-black);
  width: 333px;
  bottom: 327px;
  height: 62px;
  position: absolute;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: var(--dl-color-pallet-yellow);
}