.logo-container {
  display: flex;
  position: relative;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  justify-content: space-between;
}
.logo-logo-center {
  margin-left: 0px;
  margin-right: 0px;
}
.logo-image {
  width: 50px;
  object-fit: cover;
  margin-right: 0px;
}


.logo-root-class-name2 {
  align-self: center;
}

.logo-root-class-name4 {
  align-self: center;
}
.logo-root-class-name5 {
  align-self: center;
}
.logo-root-class-name6 {
  top: 0px;
  left: 5%;
  width: auto;
  bottom: 0px;
  height: var(--dl-size-size-small);
  margin: auto;
  position: absolute;
}
.logo-root-class-name7 {
  top: 29px;
  left: -29px;
  position: absolute;
}

.logo-root-class-name9 {
  top: 29px;
  left: -29px;
  position: absolute;
}
.logo-root-class-name10 {
  align-self: center;
  margin-left: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.logo-root-class-name11 {
  align-self: center;
  margin-left: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.logo-root-class-name12 {
  align-self: center;
  margin-left: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.logo-root-class-name13 {
  top: 0px;
  left: 5%;
  width: auto;
  bottom: 0px;
  height: var(--dl-size-size-small);
  margin: auto;
  position: absolute;
}
.logo-root-class-name14 {
  top: 0px;
  left: 5%;
  width: auto;
  bottom: 0px;
  height: var(--dl-size-size-small);
  margin: auto;
  position: absolute;
}
.logo-root-class-name15 {
  align-self: center;
  margin-left: 0px;
  margin-right: var(--dl-space-space-twounits);
}
@media(max-width: 1200px) {
  .logo-root-class-name1 {
    top: 0px;
    right: 460px;
    bottom: 5px;
    position: static;
  }
}

.product-detail-header-header {
  height: 100px;
  position: relative;
  max-width: 100%;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: var(--dl-color-gray-950);
}
.product-detail-header-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1552;
  align-items: center;
  justify-content: space-between;
}
.product-detail-header-navlink {
  display: contents;
}
.product-detail-header-component {
  text-decoration: none;
}
.product-detail-header-container {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  justify-content: center;
}
.product-detail-header-textinput {
  color: var(--dl-color-gray-black);
  width: 95%;
  height: 40px;
  padding: var(--dl-space-space-halfunit);
  font-size: 20px;
  align-self: center;
  transition: 0.1s;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  background-color: var(--dl-color-gray-white);
}
.product-detail-header-textinput:focus {
  border-color: var(--dl-color-gray-500);
  border-width: 3px;
}
.product-detail-header-textinput:hover {
  border-color: var(--dl-color-gray-500);
  border-width: 3px;
}
.product-detail-header-navlink1 {
  width: 50px;
  height: 50px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  transition: 0.3s;
  align-items: center;
  margin-left: 2.5%;
  padding-top: 0px;
  border-color: var(--dl-color-gray-500);
  border-width: 3px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-round);
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.product-detail-header-navlink1:hover {
  border: none;
  background-color: var(--dl-color-pallet-yellow);
}
.product-detail-header-icon {
  fill: var(--dl-color-gray-white);
  width: 25px;
  height: 25px;
  align-self: center;
}
.product-detail-header-icons {
  display: flex;
  align-items: center;
  margin-left: 115px;
}
.product-detail-header-navlink2 {
  display: flex;
  padding: 0px;
  transition: 0.3s;
  border-width: 0px;
  flex-direction: row;
  text-decoration: none;
}
.product-detail-header-navlink2:hover {
  background-color: transparent;
}
.product-detail-header-icon2 {
  fill: var(--dl-color-gray-black);
  width: 40px;
  height: 40px;
  transition: 0.3s;
  padding-top: 0px;
  border-width: 0px;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.product-detail-header-icon2:hover {
  fill: var(--dl-color-pallet-yellow);
}
.product-detail-header-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius2);
}
.product-detail-header-dropdown-toggle {
  fill: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.product-detail-header-dropdown-arrow {
  transition: 0.3s;
}
.product-detail-header-container1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(217, 217, 217, 0);
}
.product-detail-header-icon4 {
  fill: var(--dl-color-gray-black);
  width: 35px;
  height: 35px;
}
.product-detail-header-dropdown-list {
  left: -20px;
  width: auto;
  margin: auto;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.product-detail-header-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.product-detail-header-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.product-detail-header-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.product-detail-header-text {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.product-detail-header-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.product-detail-header-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.product-detail-header-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.product-detail-header-text1 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}








@media(max-width: 991px) {
  .product-detail-header-icons {
    display: none;
  }
}
@media(max-width: 479px) {
  .product-detail-header-header {
    padding: var(--dl-space-space-unit);
  }
}

.check-order-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.check-order-container01 {
  top: 0px;
  left: 0px;
  width: 1600px;
  height: 2004px;
  display: flex;
  overflow: auto;
  position: absolute;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.check-order-container02 {
  top: 100px;
  left: 0px;
  width: 100%;
  height: 130px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  justify-content: center;
}
.check-order-text {
  top: 0px;
  left: 50px;
  width: auto;
  bottom: 0px;
  height: var(--dl-size-size-small);
  margin: auto;
  position: absolute;
}
.check-order-input {
  top: 0px;
  left: 1057px;
  color: var(--dl-color-gray-500);
  width: 263px;
  bottom: 0px;
  height: var(--dl-size-size-small);
  margin: auto;
  position: absolute;
  font-size: 20px;
  border-color: var(--dl-color-gray-black);
  border-style: solid;
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  background-color: #ffffff;
}
.check-order-button {
  top: 0px;
  color: var(--dl-color-gray-white);
  right: 110px;
  bottom: 0px;
  height: var(--dl-size-size-small);
  margin: auto;
  position: absolute;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.check-order-image {
  top: 0px;
  left: 990px;
  width: 50px;
  bottom: 0px;
  height: 50px;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.check-order-container03 {
  top: 230px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.check-order-text1 {
  top: 25px;
  left: 150px;
  width: auto;
  height: var(--dl-size-size-small);
  position: absolute;
  font-size: 30px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.check-order-text2 {
  top: 25px;
  left: 450px;
  width: auto;
  height: var(--dl-size-size-small);
  position: absolute;
  font-size: 30px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.check-order-navlink {
  top: 25px;
  left: 800px;
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-small);
  position: absolute;
  font-size: 30px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
}
.check-order-navlink1 {
  top: 25px;
  left: 1200px;
  right: 614px;
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-small);
  position: absolute;
  font-size: 30px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 700;
  text-decoration: none;
}

.check-order-container04 {
  top: 330px;
  left: 0px;
  width: 100%;
  height: 800px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.check-order-container05 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 98px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  justify-content: center;
}
.check-order-text3 {
  top: 0px;
  left: 60px;
  color: #00b8ff;
  bottom: 0px;
  height: var(--dl-size-size-small);
  margin: auto;
  position: absolute;
  font-size: 25px;
}
.check-order-text4 {
  top: 0px;
  left: 160px;
  bottom: 0px;
  height: var(--dl-size-size-small);
  margin: auto;
  position: absolute;
  font-size: 25px;
  align-self: center;
}
.check-order-select {
  top: 20px;
  left: 272px;
  width: var(--dl-size-size-xlarge);
  height: var(--dl-size-size-small);
  z-index: 100;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
}
.check-order-image1 {
  top: 16px;
  left: 36px;
  width: 200px;
  position: absolute;
  object-fit: cover;
}
.check-order-container07 {
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 2px;
}
.check-order-button1 {
  top: 50px;
  color: rgb(0, 0, 0);
  right: 70px;
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-small);
  margin: auto;
  position: absolute;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgb(255, 255, 255);
}
.check-order-text5 {
  top: 21px;
  left: 272px;
  width: 800px;
  position: absolute;
  font-size: 25px;
}
.check-order-navlink2 {
  top: 205px;
  left: 275px;
  color: var(--dl-color-gray-white);
  width: 340px;
  height: 65px;
  margin: auto;
  position: absolute;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.check-order-button2 {
  top: 150px;
  color: rgb(0, 0, 0);
  right: 70px;
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-small);
  margin: auto;
  position: absolute;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgb(255, 255, 255);
}
.check-order-button3 {
  top: 250px;
  color: rgb(0, 0, 0);
  right: 70px;
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-small);
  margin: auto;
  position: absolute;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgb(255, 255, 255);
}
.check-order-container08 {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 157px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.check-order-container09 {
  width: 480px;
  height: 60px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  border-radius: 10px;
}
.check-order-button4 {
  width: 120px;
  height: 100%;
  font-size: 20px;
  transition: 0.3s;
  margin-left: 0px;
  border-width: 0px;
}
.check-order-button4:hover {
  margin-left: 0px;
  border-radius: var(--dl-radius-radius-radius8);
}
.check-order-button5 {
  height: 100%;
  font-size: 20px;
  transition: 0.3s;
  border-width: 0px;
}
.check-order-button5:hover {
  border-radius: var(--dl-radius-radius-radius8);
}
.check-order-button6 {
  width: 60px;
  height: 100%;
  font-size: 20px;
  transition: 0.3s;
  border-width: 00px;
}
.check-order-button6:hover {
  border-radius: var(--dl-radius-radius-radius8);
}
.check-order-button7 {
  width: 60px;
  height: 100%;
  font-size: 20px;
  transition: 0.3s;
  border-width: 0px;
}
.check-order-button7:hover {
  border-radius: var(--dl-radius-radius-radius8);
}
.check-order-textinput {
  width: 60px;
  height: 100%;
  font-size: 20px;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-gray-950);
}
.check-order-button8 {
  width: 120px;
  height: 100%;
  font-size: 20px;
  transition: 0.3s;
  border-width: 0px;
}
.check-order-button8:hover {
  border-radius: var(--dl-radius-radius-radius8);
}

.check-order-container06 {
  top: 150px;
  left: 0px;
  width: 100%;
  height: 300px;
  display: flex;
  position: absolute;
  align-items: center;
  border-style: hidden;
  flex-direction: column;
  justify-content: flex-start;
}

.group{
  display: flex;
  justify-content: flex-start;
}

.navlink {
  color: var(--dl-color-gray-black);
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: var(--dl-color-pallet-yellow);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}