.logo-container {
  display: flex;
  position: relative;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  justify-content: space-between;
}
.logo-logo-center {
  margin-left: 0px;
  margin-right: 0px;
}
.logo-image {
  width: 50px;
  object-fit: cover;
  margin-right: 0px;
}


.logo-root-class-name2 {
  align-self: center;
}

.logo-root-class-name4 {
  align-self: center;
}
.logo-root-class-name5 {
  align-self: center;
}
.logo-root-class-name6 {
  top: 0px;
  left: 5%;
  width: auto;
  bottom: 0px;
  height: var(--dl-size-size-small);
  margin: auto;
  position: absolute;
}
.logo-root-class-name7 {
  top: 29px;
  left: -29px;
  position: absolute;
}

.logo-root-class-name9 {
  top: 29px;
  left: -29px;
  position: absolute;
}
.logo-root-class-name10 {
  align-self: center;
  margin-left: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.logo-root-class-name11 {
  align-self: center;
  margin-left: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.logo-root-class-name12 {
  align-self: center;
  margin-left: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.logo-root-class-name13 {
  top: 0px;
  left: 5%;
  width: auto;
  bottom: 0px;
  height: var(--dl-size-size-small);
  margin: auto;
  position: absolute;
}
.logo-root-class-name14 {
  top: 0px;
  left: 5%;
  width: auto;
  bottom: 0px;
  height: var(--dl-size-size-small);
  margin: auto;
  position: absolute;
}
.logo-root-class-name15 {
  align-self: center;
  margin-left: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.logo-root-class-name16 {
  align-self: center;
  margin-left: 0px;
  margin-right: var(--dl-space-space-twounits);
}
@media(max-width: 1200px) {
  .logo-root-class-name1 {
    top: 0px;
    right: 460px;
    bottom: 5px;
    position: static;
  }
}

.admin-page-header2-header {
  height: 100px;
  position: relative;
  max-width: 100%;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: var(--dl-color-gray-950);
}
.admin-page-header2-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1600px;
  align-items: center;
  justify-content: space-between;
}
.admin-page-header2-navlink {
  display: contents;
}
.admin-page-header2-component {
  text-decoration: none;
}
.admin-page-header2-navlink1 {
  font-size: 25px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
}
.admin-page-header2-icons {
  display: flex;
  margin-left: 150px;
}
.admin-page-header2-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius2);
}
.admin-page-header2-dropdown-toggle {
  fill: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.admin-page-header2-dropdown-arrow {
  transition: 0.3s;
}
.admin-page-header2-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(217, 217, 217, 0);
}
.admin-page-header2-icon {
  fill: var(--dl-color-gray-black);
  width: 35px;
  height: 35px;
}
.admin-page-header2-dropdown-list {
  right: 0px;
  width: auto;
  margin: auto;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.admin-page-header2-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.admin-page-header2-dropdown-toggle1 {
  fill: #595959;
  color: var(--dl-color-gray-black);
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 00px;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 00px;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  text-decoration: none;
}
.admin-page-header2-dropdown-toggle1:hover {
  fill: #fff;
  color: var(--dl-color-gray-black);
  border-radius: var(--dl-radius-radius-radius2);
  background-color: var(--dl-color-gray-900);
}
.admin-page-header2-text2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  justify-content: center;
}
.admin-page-header2-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.admin-page-header2-dropdown-toggle2 {
  fill: #595959;
  color: var(--dl-color-gray-black);
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 00px;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 00px;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  text-decoration: none;
}
.admin-page-header2-dropdown-toggle2:hover {
  fill: #fff;
  color: var(--dl-color-gray-black);
  border-radius: var(--dl-radius-radius-radius2);
  background-color: var(--dl-color-gray-900);
}
.admin-page-header2-text3 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  justify-content: center;
}

















@media(max-width: 991px) {
  .admin-page-header2-icons {
    display: none;
  }
}
@media(max-width: 479px) {
  .admin-page-header2-header {
    padding: var(--dl-space-space-unit);
  }
}

.edit-email-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.edit-email-container1 {
  top: 185px;
  left: 333px;
  width: 917px;
  height: 490px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: flex-start;
}
.edit-email-textinput {
  top: 275px;
  left: 55px;
  color: #000000;
  width: 282px;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4,5px 5px 10px 0px #d4d4d4;
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-gray-white);
}
.edit-email-navlink {
  top: 551px;
  left: 396px;
  color: var(--dl-color-gray-black);
  width: 261px;
  position: absolute;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px, rgb(212, 212, 212) 5px 5px 10px 0px;
  text-align: center;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: var(--dl-color-pallet-yellow);
}
.edit-email-text {
  top: 286px;
  left: 388px;
  position: absolute;
}
.edit-email-text7 {
  top: 215px;
  left: 383px;
  position: absolute;
}
.edit-email-text8 {
  top: 415px;
  left: 389px;
  position: absolute;
  font-style: normal;
  font-weight: 500;
}
