.register-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.register-container1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 508px;
  bottom: 0px;
  height: 401px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
}
.register-container2 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: auto;
  bottom: 0px;
  height: auto;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.register-text {
  font-size: 32px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 700;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.register-container3 {
  height: 212px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.register-textinput {
  color: var(--dl-color-gray-black);
  width: var(--dl-size-size-xxlarge);
  height: 36px;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.1s;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-gray-white);
}
.register-textinput:focus {
  border-color: var(--dl-color-gray-500);
  border-width: 3px;
}
.register-textinput:hover {
  border-color: var(--dl-color-gray-500);
  border-width: 3px;
}
.register-textinput1 {
  color: var(--dl-color-gray-black);
  width: var(--dl-size-size-xxlarge);
  height: 36px;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.1s;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-gray-white);
}
.register-textinput1:focus {
  border-color: var(--dl-color-gray-500);
  border-width: 3px;
}
.register-textinput1:hover {
  border-color: var(--dl-color-gray-500);
  border-width: 3px;
}
.register-textinput2 {
  color: var(--dl-color-gray-black);
  width: var(--dl-size-size-xxlarge);
  height: 36px;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.1s;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-gray-white);
}
.register-textinput2:focus {
  border-color: var(--dl-color-gray-500);
  border-width: 3px;
}
.register-textinput2:hover {
  border-color: var(--dl-color-gray-500);
  border-width: 3px;
}
.register-textinput3 {
  color: var(--dl-color-gray-black);
  width: var(--dl-size-size-xxlarge);
  height: 36px;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.1s;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-gray-white);
}
.register-textinput3:focus {
  border-color: var(--dl-color-gray-500);
  border-width: 3px;
}
.register-textinput3:hover {
  border-color: var(--dl-color-gray-500);
  border-width: 3px;
}
.register-navlink {
  width: var(--dl-size-size-medium);
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.register-text1 {
  font-size: 20px;
}
.register-container4 {
  width: 100%;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: flex-start;
}
.register-navlink1 {
  color: rgb(10, 3, 253);
  text-decoration: underline;
}
