.logo-container {
  display: flex;
  position: relative;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  justify-content: space-between;
}
.logo-logo-center {
  margin-left: 0px;
  margin-right: 0px;
}
.logo-image {
  width: 50px;
  object-fit: cover;
  margin-right: 0px;
}


.logo-root-class-name2 {
  align-self: center;
}

.logo-root-class-name4 {
  align-self: center;
}
.logo-root-class-name5 {
  align-self: center;
}
.logo-root-class-name6 {
  top: 0px;
  left: 5%;
  width: auto;
  bottom: 0px;
  height: var(--dl-size-size-small);
  margin: auto;
  position: absolute;
}
.logo-root-class-name7 {
  top: 29px;
  left: -29px;
  position: absolute;
}

.logo-root-class-name9 {
  top: 29px;
  left: -29px;
  position: absolute;
}
.logo-root-class-name10 {
  align-self: center;
  margin-left: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.logo-root-class-name11 {
  align-self: center;
  margin-left: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.logo-root-class-name12 {
  align-self: center;
  margin-left: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.logo-root-class-name13 {
  top: 0px;
  left: 5%;
  width: auto;
  bottom: 0px;
  height: var(--dl-size-size-small);
  margin: auto;
  position: absolute;
}
.logo-root-class-name14 {
  top: 0px;
  left: 5%;
  width: auto;
  bottom: 0px;
  height: var(--dl-size-size-small);
  margin: auto;
  position: absolute;
}
.logo-root-class-name15 {
  align-self: center;
  margin-left: 0px;
  margin-right: var(--dl-space-space-twounits);
}
@media(max-width: 1200px) {
  .logo-root-class-name1 {
    top: 0px;
    right: 460px;
    bottom: 5px;
    position: static;
  }
}

.search-page-header-header {
  height: 100px;
  position: relative;
  max-width: 100%;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-950);
}
.search-page-header-navbar {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.search-page-header-component {
  text-decoration: none;
}
.search-page-header-container {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  justify-content: center;
}
.search-page-header-icons {
  display: flex;
  align-items: center;
  margin-left: 150px;
}
.search-page-header-navlink {
  display: flex;
  padding: 0px;
  transition: 0.3s;
  border-width: 0px;
  flex-direction: row;
  text-decoration: none;
}
.search-page-header-navlink:hover {
  background-color: transparent;
}
.search-page-header-icon {
  fill: var(--dl-color-gray-black);
  width: 40px;
  height: 40px;
  transition: 0.3s;
  padding-top: 0px;
  border-width: 0px;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.search-page-header-icon:hover {
  fill: var(--dl-color-pallet-yellow);
}
.search-page-header-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius2);
}
.search-page-header-dropdown-toggle {
  fill: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.search-page-header-dropdown-arrow {
  transition: 0.3s;
}
.search-page-header-container1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(217, 217, 217, 0);
}
.search-page-header-icon2 {
  fill: var(--dl-color-gray-black);
  width: 35px;
  height: 35px;
}
.search-page-header-dropdown-list {
  left: -20px;
  width: auto;
  margin: auto;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.search-page-header-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.search-page-header-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.search-page-header-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.search-page-header-text {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.search-page-header-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.search-page-header-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.search-page-header-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.search-page-header-text1 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}



.search-page-header-root-class-name3 {
  max-width: 100%;
}
@media(max-width: 991px) {
  .search-page-header-icons {
    display: none;
  }
}
@media(max-width: 479px) {
  .search-page-header-header {
    padding: var(--dl-space-space-unit);
  }
}

.search-page-item-container {
  width: 40%;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.search-page-item-container1 {
  flex: 0 0 auto;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.search-page-item-image {
  width: auto;
  height: 100%;
  object-fit: cover;
}
.search-page-item-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-left: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.search-page-item-container3 {
  width: 266px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.search-page-item-text {
  font-size: 25px;
  font-weight: 600;
}
.search-page-item-container4 {
  flex: 0 0 auto;
  width: auto;
  height: 24px;
  display: flex;
  margin-top: 10px;
  align-items: flex-start;
  justify-content: flex-start;
}
.search-page-item-container5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.search-page-item-icon {
  fill: #ffd205;
  width: 24px;
  height: 24px;
}
.search-page-item-icon02 {
  fill: #ffd205;
  width: 24px;
  height: 24px;
}
.search-page-item-icon04 {
  fill: #ffd205;
  width: 24px;
  height: 24px;
}
.search-page-item-icon06 {
  fill: #ffd205;
  width: 24px;
  height: 24px;
}
.search-page-item-icon08 {
  fill: #ffd205;
  width: 24px;
  height: 24px;
}
.search-page-item-container6 {
  display: flex;
  margin-top: 80px;
  align-items: flex-start;
  flex-direction: column;
}
.search-page-item-text1 {
  font-size: 25px;
}
.search-page-item-root-class-name {
  margin-right: 190px;
}
.search-page-item-root-class-name1 {
  margin-right: 190px;
}





















.search-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.search-page-form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search-page-container1 {
  width: 100%;
  height: 60px;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  margin-left: 0%;
  padding-left: 0%;
  flex-direction: row;
  justify-content: center;
}
.search-page-search-bar {
  flex: initial;
  width: 100%;
  height: 60px;
  display: flex;
  align-self: center;
  margin-left: 0%;
  padding-left: 12.5%;
  padding-right: 12.5%;
  flex-direction: row;
  justify-content: center;
}
.search-page-container2 {
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 0px;
  padding-right: var(--dl-space-space-twounits);
  justify-content: center;
}
.search-page-textinput {
  color: var(--dl-color-gray-black);
  width: 100%;
  height: 100%;
  padding: var(--dl-space-space-halfunit);
  font-size: 20px;
  align-self: center;
  transition: 0.3s;
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  border-radius: 12px;
  background-color: var(--dl-color-gray-950);
}
.search-page-textinput:focus {
  border-color: var(--dl-color-gray-500);
  border-width: 4px;
}
.search-page-textinput:hover {
  border-color: var(--dl-color-gray-500);
  border-width: 4px;
}
.search-page-container3 {
  width: 5%;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-page-button {
  width: 50px;
  height: 50px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  margin-left: 2.5%;
  padding-top: 0px;
  border-color: var(--dl-color-gray-500);
  border-width: 3px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-round);
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.search-page-icon {
  fill: var(--dl-color-gray-white);
  width: 25px;
  height: 25px;
  align-self: center;
}
.search-page-test-line {
  flex: 0 0 auto;
  width: 100%;
  height: 70px;
  display: flex;
  z-index: 1000;
  align-items: center;
  padding-left: 12.7%;
  justify-content: flex-start;
}
.search-page-select {
  width: var(--dl-size-size-xlarge);
  height: 50%;
  align-self: center;
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  margin-right: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
}
.search-page-select1 {
  width: var(--dl-size-size-xlarge);
  height: 50%;
  align-self: center;
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  margin-right: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
}
.search-page-container4 {
  height: 43px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: flex-start;
}
.search-page-textinput1 {
  color: var(--dl-color-gray-black);
  width: 90px;
  height: 100%;
  transition: 0.3s;
  border-radius: 0px;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
}
.search-page-textinput1:focus {
  background-color: #bedcb5;
}
.search-page-textinput1:hover {
  background-color: #bedcb5;
}
.search-page-textinput2 {
  color: var(--dl-color-gray-black);
  width: 90px;
  height: 100%;
  transition: 0.3s;
  border-radius: 0px;
}
.search-page-textinput2:focus {
  background-color: #bedcb5;
}
.search-page-textinput2:hover {
  background-color: #bedcb5;
}
.search-page-button1 {
  width: var(--dl-size-size-small);
  height: 100%;
  transition: 0.3s;
  align-items: center;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
}
.search-page-button1:hover {
  color: var(--dl-color-gray-white);
  border: none;
  border-width: 0px;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
}
.search-page-text03 {
  transition: 0.3s;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
}
.search-page-text03:hover {
  border-radius: var(--dl-radius-radius-radius8);
}
.search-page-result-header {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  flex-direction: column;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.search-page-container5 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.search-page-text06 {
  margin-left: 125px;
  text-transform: capitalize;
}
.search-page-text07 {
  font-size: 35px;
  font-weight: 700;
}
.search-page-text08 {
  font-size: 35px;
  font-style: normal;
}
.search-page-text09 {
  font-size: 18px;
  font-weight: 400;
}
.search-page-text10 {
  font-style: normal;
}
.search-page-products {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.search-page-pages {
  width: 100%;
  height: 157px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-page-container6 {
  width: 480px;
  height: 60px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  border-radius: 10px;
}
.search-page-button2 {
  width: 120px;
  height: 100%;
  font-size: 20px;
  transition: 0.3s;
  align-items: center;
  margin-left: 0px;
  border-width: 0px;
  justify-content: center;
}
.search-page-button2:hover {
  margin-left: 0px;
  border-radius: var(--dl-radius-radius-radius8);
}
.search-page-button3 {
  height: 100%;
  font-size: 20px;
  transition: 0.3s;
  align-items: center;
  border-width: 0px;
  justify-content: center;
}
.search-page-button3:hover {
  border-radius: var(--dl-radius-radius-radius8);
}
.search-page-button4 {
  width: 60px;
  height: 100%;
  font-size: 20px;
  transition: 0.3s;
  align-items: center;
  border-width: 00px;
  justify-content: center;
}
.search-page-button4:hover {
  border-radius: var(--dl-radius-radius-radius8);
}
.search-page-button5 {
  width: 60px;
  height: 100%;
  font-size: 20px;
  transition: 0.3s;
  align-items: center;
  border-width: 0px;
  justify-content: center;
}
.search-page-button5:hover {
  border-radius: var(--dl-radius-radius-radius8);
}
.search-page-textinput3 {
  color: var(--dl-color-gray-black);
  width: 60px;
  height: 100%;
  font-size: 20px;
  transition: 0.3s;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-gray-950);
}
.search-page-textinput3:focus {
  background-color: #bedcb5;
}
.search-page-textinput3:active {
  background-color: #bedcb5;
}
.search-page-button6 {
  width: 120px;
  height: 100%;
  font-size: 20px;
  transition: 0.3s;
  align-items: center;
  border-width: 0px;
  justify-content: center;
}
.search-page-button6:hover {
  border-radius: var(--dl-radius-radius-radius8);
}
