.admin-page-login-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.admin-page-login-container1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 420px;
  bottom: 0px;
  height: 311px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
}
.admin-page-login-container2 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: auto;
  bottom: 0px;
  height: auto;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.admin-page-login-text {
  font-size: 32px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 700;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.admin-page-login-text1 {
  color: var(--dl-color-pallet-warning);
  height: auto;
  font-size: 14px;
  align-self: center;
  margin-top: -8px;
  margin-bottom: -10px;
}
.admin-page-login-container3 {
  height: 112px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.admin-page-login-textinput {
  color: var(--dl-color-gray-black);
  width: var(--dl-size-size-xxlarge);
  height: 36px;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.1s;
  border-color: var(--dl-color-gray-black);
  border-style: solid;
  border-width: 1px;
  margin-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-gray-white);
}
.admin-page-login-textinput:focus {
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 3px;
}
.admin-page-login-textinput:hover {
  border-color: var(--dl-color-gray-500);
  border-width: 3px;
}
.admin-page-login-textinput1 {
  color: var(--dl-color-gray-black);
  width: var(--dl-size-size-xxlarge);
  height: 36px;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.1s;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-gray-white);
}
.admin-page-login-textinput1:focus {
  border-color: var(--dl-color-gray-500);
  border-width: 3px;
}
.admin-page-login-textinput1:hover {
  border-color: var(--dl-color-gray-500);
  border-width: 3px;
}
.admin-page-login-button {
  width: var(--dl-size-size-medium);
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
}
.admin-page-login-text2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
